<template name="blogTaggedPosts">
  <div class="meteor-blog-tagged-list">
    <div class="meteor-blog-tagged-list-heading">
      <span>Featured Posts</span>
    </div>
    <ul class="meteor-blog-tagged-list-posts">
      {{#if Template.subscriptionsReady}}
        {{#each tagList}}
          <li class="meteor-blog-tagged-list-post">
            <a href="{{blogPathFor 'blogShow'}}">
              <div class="meteor-blog-tagged-list-post-title">
                {{{title}}}
              </div>
              <div class="meteor-blog-tagged-list-post-date">
                <time datetime="{{publishedAt}}">{{date publishedAt}}</time>
              </div>
            </a>
          </li>
        {{/each}}
      {{else}}
        <li>Loading...</li>
      {{/if}}
    </ul>
    <a href="{{blogPathFor 'blogIndex'}}">View all posts&nbsp; &rsaquo;</a>
  </div>
</template>
