<template name="blogTagList">
  <div class="meteor-blog-tags">
    <ul class="meteor-blog-tags-posts">
      {{#if Template.subscriptionsReady}}
        {{#each tagged}}
          <li class="meteor-blog-tags-list-post">
            <a href="/blog/tag/{{tag}}">
              <div class="meteor-blog-tags-list-post-title">
                {{tag}}
              </div>
            </a>
          </li>
        {{/each}}
      {{else}}
        <li>Loading...</li>
      {{/if}}
    </ul>
  </div>
</template>
